<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/fonts.css">
    <title>FoNtLoCkEr</title>
</head>

<body>
    <div id="safe">
        <img id="safe_img" src="/static/vault.svg">
        <h1 id="safe_title">
            <span id="char_0">f</span>
            <span id="char_1">o</span>
            <span id="char_2">n</span>
            <span id="char_3">t</span>
            <span id="char_4">l</span>
            <span id="char_5">o</span>
            <span id="char_6">c</span>
            <span id="char_7">k</span>
            <span id="char_8">e</span>
            <span id="char_9">r</span>
        </h1>
        <p>Unfortunately, you did not pass our extended user verification process.</p>
    </div>
</body>

</html>