<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XSSUpload</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="text-center">
        <img class="mb-4" src="/static/logo.svg" alt="" width="300">
    </div>
    <main class="form-signin">
        <div class="container">
            <h1 class="h3 fw-normal">Contact</h1>
            <p>Thanks. We've received your valid contact form application. Now, If you would've read the intro on the
                contact page, you would've seen that we don't look at it. But hey, thanks for the effort anyway.</p>
        </div>

        {% include "partials/footer.html" %}
        </form>
    </main>



</body>

</html>