{% from 'bootstrap5/form.html' import render_form %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XSSUpload</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="text-center">
        <img class="mb-4" src="/static/logo.svg" alt="" width="300">
    </div>
    <main class="form-signin">
        <form method="post">
            <div class="container">
                <h1 class="h3 fw-normal">Contact</h1>
                <p>You can contact us through the form below. We've made the form as extensive as possible to make sure
                    we get all relevant information regarding your request.</p>
                <p>Okay, the thruth is that we don't want to interact with the users of our website. I mean, do you know
                    the type of user that wants to send files of 1kiB and not simply use email? Therefore, we don't want
                    you to fill the form. But, people don't read stuff before they submit it, right? So, we hope we've
                    wasted your time if you wanted to fill in the entire form. Oh, and even if you've submitted it, we
                    won't have a look at it. So really don't bother.</p>

                <p><strong>Every field is required</strong></p>

                <form method="post" action="/contact">
                    {{ render_form(form) }}
                </form>
            </div>

            {% include "partials/footer.html" %}
        </form>
    </main>



</body>

</html>